---
import GoogleIcon from "./google-domains-icon.astro";
import AstroIcon from "./astro-icon.astro";
import GithubIcon from "./github-icon.astro";
import PorkbunIcon from "./porkbun-icon.astro";
---

<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">welcome</h1>
        <p class="mb-8 text-lg font-normal text-[#b1bac4] lg:text-xl sm:px-16 lg:px-48">website powered by</p>

        <div class="flex pb-0 space-x-1 justify-center text-[#b1bac4]">
        	<AstroIcon pathfill="#b1bac4"></AstroIcon>
        	<p class="text-sm pr-4">Astro</p>
        	<GithubIcon pathfill="#b1bac4"></GithubIcon>
        	<p class="text-sm pr-4">GitHub</p>
            <PorkbunIcon pathfill="#b1bac4"></PorkbunIcon>
            <p class="text-sm">Porkbun</p>
        </div>
    </div>
</section>