---
import BaseLayout from "./base-layout.astro";
import Jumbotron from "../components/jumbotron.astro";

const posts = await Astro.glob('../pages/*.md');
import Search from '../components/Search';

import {Content as IndexMarkdown} from "../components/index.md";
---

<BaseLayout title="Home">
    <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 pb-14">
		<Jumbotron></Jumbotron>

		<Search client:load searchList={posts} class="pb-12"></Search>

		<div class="post-content">
			<IndexMarkdown />
		</div>
	</div>
</BaseLayout>